<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KITCHENING</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Hamburgers CSS -->
  <link rel="stylesheet" href="/css/library/hamburgers.min.css">

  <link rel="stylesheet" href="/css/style.css">

  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">

</head>

<body class="home-body">
  <!-- CABECERA -->
  <header class="main-header">
    <img class="logo" src="/images/logo.jpg" alt="logo">

   <!--  <a href="#" class="burger-menu">
      <i class="fa-solid fa-bars"></i>
    </a> -->

    <button class="burger-menu hamburger hamburger--spring" type="button"
    aria-label="Menu" aria-controls="#navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <nav class="main-nav" id="navigation">
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="">QUIENES</a></li>
        <li><a href="">SERVICIOS</a></li>
        <li><a href="/position">POSITION</a></li>
        <li><a href="/pseudoclases">PSEUDOCLASES</a></li>
        <li><a href="/registro">REGISTRO</a></li>
      </ul>
    </nav>
  </header>

  <main class="position">

    <div class="div-container border border-3 border-dark">
      <div class="div-item div-1 bg-primary border border-1 border-dark">
       <span class="text-div-1"> 1 </span>
      </div>
      <div class="div-item div-2 bg-danger border border-1 border-dark">2</div>
      <div class="div-item div-3 border border-1 border-dark">3</div>
      <div class="div-item div-4 bg-warning border border-1 border-dark">4</div>
      <div class="div-item div-5 bg-dark border border-1 border-dark">5</div>
    </div>

  </main>


  <footer class="main-footer">
    <nav>
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="">QUIENES</a></li>
        <li><a href="">SERVICIOS</a></li>
        <li><a href="">PORTFOLIO</a></li>
        <li><a href="/pseudoclases">PSEUDOCLASES</a></li>
        <li><a href="/registro">REGISTRO</a></li>
      </ul>
    </nav>
  </footer>


  <!-- SCRIPT BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

      <!-- Hamburger SCRIPT -->
  <script src="/js/library/hamburguer.js"></script>
</body>

</html>