<footer class="container-fluid bg-light py-4">
  <ul class="row">
    <li class="col-12 col-md-4"><a href="">link 1</a></li>
    <li class="col-12 col-md-4"><a href="">link 2</a></li>
    <li class="col-12 col-md-4"><a href="">link 3</a></li>
  </ul>
</footer>