<div class="card mx-2">
  <img src="/images/img-pdto-2.jpg" class="card-img-top" alt="img1"
    style="height: 150px;object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">Card 2</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
      card's content.</p>
    <a href="/productos/detalle/2" class="btn btn-dark">Ver más</a>
  </div>
</div>