<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body class="home-body">

  <div class="contain-dots" id="contain-dots">
    <div class="dot-spin"></div>
  </div>

  <%- include("../partials/header") %>

  <main class="register container my-5 row justify-content-center mx-auto">
   <h1 class="text-center text-danger">VISTA 404</h1>
  </main>

  <%- include("../partials/footer") %>

  <%- include("../partials/scripts",{
    disabledAos:true,
    disabledGlider:true
  }) %>
</body>

</html>