<h1 class="text-center text-danger my-4">Crear Producto</h1>

<a href="/admin/productos" class="btn btn-primary mb-4">Volver al listado</a>

<div class="card container p-4" style="width:60rem;">
  <form action="/admin/crear-producto" method="post" class="row justify-content-between">


    <div class="mb-3 col-6">
      <label class="form-label">Titulo</label>
      <input type="text" name="title" class="form-control">
    </div>

    <div class="mb-3 col-6">
      <label class="form-label">Precio</label>
      <input type="number" name="price" class="form-control">
    </div>

    <div class="mb-3 form-floating col-6">
      <textarea class="form-control" name="description" placeholder="Colocar la descripción del curso"></textarea>
      <label>Descripción</label>
    </div>

    <div class="mb-3 form-floating col-6">
      <select class="form-select" id="floatingSelect" aria-label="Desplegar las opciones" name="chef">
        <option selected hidden>Seleccionar un chef</option>

        <% chefs.forEach(c => { %>
          <option value="<%= c.name %>"><%= c.name %></option>
        <% }) %>

      </select>
      <label for="floatingSelect">Desplegar las opciones</label>
    </div>


    <div class="mb-3 row p-0 mx-auto">

      <h3>Sección</h3>
      <hr>
      <div class="form-check col-4">
        <input class="form-check-input" id="new" value="sale" type="radio" name="section" >
        <label class="form-check-label" for="sale">
          Oferta
        </label>
      </div>

      <div class="form-check col-4">
        <input class="form-check-input" type="radio" id="newest" value="newest" name="section" checked>
        <label class="form-check-label" for="newest">
          Nuevo
        </label>
      </div>

      <div class="form-check col-4">
        <input class="form-check-input" type="radio" value="free" id="free" name="section">
        <label class="form-check-label" for="free">
          Gratis
        </label>
      </div>
    </div>

    <hr>
    <div class="mb-3 form-check form-switch col-4">
      <input class="form-check-input" type="checkbox" id="available" name="available" checked>
      <label class="form-check-label" for="available">Disponible</label>
    </div>

    <div class="mb-3 col-8">
      <label for="image" class="form-label">Small file input example</label>
      <input class="form-control form-control-sm" id="image" type="file" name="image">
    </div>

    <button type="submit" class="mb-3 btn btn-success col-4">Crear Producto</button>
  </form>


</div>