      <!-- Footer -->
      <footer class="mvc-center mvc-black mvc-padding-64 mvc-opacity mvc-hover-opacity-off">
        <a href="#home" class="mvc-button mvc-light-grey"><i class="fa fa-arrow-up mvc-margin-right"></i>To the top</a>
        <div class="mvc-xlarge mvc-section">
          <i class="fa fa-facebook-official mvc-hover-opacity"></i>
          <i class="fa fa-instagram mvc-hover-opacity"></i>
          <i class="fa fa-snapchat mvc-hover-opacity"></i>
          <i class="fa fa-pinterest-p mvc-hover-opacity"></i>
          <i class="fa fa-twitter mvc-hover-opacity"></i>
          <i class="fa fa-linkedin mvc-hover-opacity"></i>
        </div>
      </footer>
