<nav class="mvc-top">
  <div class="mvc-bar" id="myNavbar">
    <a href="/" class="mvc-bar-item mvc-button">HOME</a>
    <a href="/sobre-mi" class="mvc-bar-item mvc-button mvc-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="/#portfolio" class="mvc-bar-item mvc-button mvc-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
  </div>
</nav>