<!-- PRODUCTOS -->
<section class="vip-products">
  <!-- <h2>Productos Vip</h2> -->
  <!-- PRODUCTO 1 -->
  <article class="product" data-aos="fade-right" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-1.jpg" alt="foto">
      <img class="sticker" src="/images/img-nuevo.png" alt="sticker">
      <a class="zoom" href="#">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="/productos/detalle/10/bebidas">ver más</a>
  </article>

  <!-- PRODUCTO 2 -->
  <article class="product" data-aos="fade-up" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-2.jpg" alt="foto">
      <img class="sticker" src="/images/img-gratis.png" alt="sticker">
      <a class="zoom" href="">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="/productos/detalle/11/cafes">ver más</a>
  </article>

  <!-- PRODUCTO 3 -->
  <article class="product" data-aos="fade-left" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-3.jpg" alt="foto">
      <img class="sticker" src="/images/img-descuento.png" alt="sticker">
      <a class="zoom" href="">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="/productos/detalle/12">ver más</a>
  </article>

  <!-- PRODUCTO 4 -->
  <article class="product" data-aos="fade-right" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-1.jpg" alt="foto">
      <img class="sticker" src="/images/img-gratis.png" alt="sticker">
      <a class="zoom" href="#">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="">ver más</a>
  </article>

  <!-- PRODUCTO 5 -->
  <article class="product" data-aos="fade-up" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-2.jpg" alt="foto">
      <img class="sticker" src="/images/img-nuevo.png" alt="sticker">
      <a class="zoom" href="#">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="">ver más</a>
  </article>

  <!-- PRODUCTO 6 -->
  <article class="product" data-aos="fade-right" data-aos-duration="1500">
    <div class="photo-container">
      <img class="photo" src="/images/img-pdto-3.jpg" alt="foto">
      <img class="sticker" src="/images/img-descuento.png" alt="sticker">
      <a class="zoom" href="#">AMPLIAR FOTO</a>
    </div>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad facilis, dicta delectus repellendus
      distinctio libero.</p>
    <a class="more" href="">ver más</a>
  </article>

</section>