<header class="main-header">
  <img class="logo" src="/images/logo.jpg" alt="logo">

 <!--  <a href="#" class="burger-menu">
    <i class="fa-solid fa-bars"></i>
  </a> -->

  <button class="burger-menu hamburger hamburger--collapse" type="button"
  aria-label="Menu" aria-controls="#navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <nav class="main-nav" id="navigation">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/admin/productos">ADMINISTRADOR</a></li>
      <li><a href="/carrito-compra">CARRITO</a></li>
      <li><a href="/autenticacion/iniciar">INICIAR SESIÓN</a></li>
      <li><a href="/autenticacion/registrar">REGISTRO</a></li>
    </ul>
  </nav>
</header>