<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/new">New Movies</a></li>
    <li><a href="/movies/recommended">New Recommended</a></li>
    <li><a href="/genres">Genres</a></li>
  </ul>
</nav>